#canvas {
  bottom: 0px;
  position : absolute;
}



body {
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(119,136,153,1) 0%, rgba(112,128,144,1) 35%, rgba(150,155,180,1) 100%);
}
